.header {
    position: relative;
    width:100%;
    /* float: left; */
}
.logo {
    width: 100px;
    height: 70px;
    margin: 8px;
    display: inline-flex;
    float: left;
}
.login {
    position: relative;
    display: inline-flex;
    margin: 15px;
    float: right;
    font-size: 20px;
}